<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sw.app.mapper.HistoryMapper">
	
	<select id="listWinnerChams" resultType="sw.app.domain.WinnerVO">
		select *
		from winner_chams
		order by season desc
	</select>

	<select id="listScorerChams" resultType="sw.app.domain.ScorerVO">
		select *
		from chams_scorer
		order by goal desc
	</select>
</mapper>